# Cache files
__pycache__/

# Virtual environments
env/
.env/
.venv/



# Environment variables /
.env
.env.local
.env.*.local

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/

# IDE / editor
.vscode/

# Database
*.db
*.sqlite3

# Logs
*.log
logs/

# FastAPI / uvicorn
*.pid